<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../fragmente/head'); %>
    
</head>

<body>
    <div id="watermark">
        <p>Messner <br> Annemarie</p>
    </div>
    <p id="absolut">Acesta este un proiect scolar.</p>
     <div class="header">
        <%- include('../fragmente/header'); %>
    </div>

    <!-- GO TO TOP BTN -->
    <a href="#top" class="myBtn">&#8679;<span class="tooltiptext">Scroll Up</span></a>

    <main>
        <% if(!locals.utilizator) { %>
        <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">

            <p>
                <label>
                    Username: <input type="text" name="username" id="inp-username" value="prof<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]+">
                </label>
            </p>     

            <p>
                <label>
                    Parola: <input id="parl" type="password" required  name="parola" value="">
                </label>
            </p>

            <p> <input type="submit" value="login"></p>

        </form>
            <% } %>
            <%- locals.mesajLogin %> 
           
        <div class="grid-container">

            <div class="prezentare">
                <h2 class="text1">We all have our own idea of what makes us feel beautiful, and that's what makes us
                    unique. Unfortunately, finding clothing that reflects your unique style can be a challenge.</h2>
                <h3 class="text2">Arason is a marketplace for unique clothing for women who want a special, individual
                    style. With Arason, you can be transfigured from the ordinary to the extraordinary.</h3>
                <h2 class="text3">Swipe for more!</h2>
            </div>
            
            <div class="col-2 col-s-2">
                <div class="calendar_event">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                    suscipit
                    lobortis
                    scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper augue ac
                    tellus
                    varius, nec hendrerit arcu suscipit. Quisque sed sollicitudin ex. Quisque viverra pharetra lorem
                    eget
                    maximus. Nullam rhoncus malesuada purus eu semper. Curabitur feugiat mauris non aliquam posuere.
                    Aenean
                    in tempor tortor, ut tristique velit. Duis ornare nibh sit amet tempor tempus. Etiam a
                    pellentesque
                    elit, non condimentum sapien.</div>
                <div class="utilizatori">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit
                    lobortis
                    scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper augue ac
                    tellus
                    varius, nec hendrerit arcu suscipit. Quisque sed sollicitudin ex. Quisque viverra pharetra lorem
                    eget
                    maximus. Nullam rhoncus malesuada purus eu semper. Curabitur feugiat mauris non aliquam posuere.
                    Aenean
                    in tempor tortor, ut tristique velit. Duis ornare nibh sit amet tempor tempus. Etiam a
                    pellentesque
                    elit, non condimentum sapien.
                    Donec blandit odio cursus dui interdum, bibendum feugiat erat interdum. Etiam dictum aliquet
                    justo,
                    vitae commodo lectus. Nunc eget metus molestie, convallis velit vitae, viverra ante. Maecenas
                    semper
                    lacinia sapien, eu egestas justo sodales nec. Sed arcu diam, egestas vitae sollicitudin ut,
                    accumsan
                    et risus. Cras tempor consequat tortor, imperdiet rutrum lorem consectetur eu. Nullam vitae
                    ligula
                    id magna luctus dapibus eu id odio. Duis sit amet leo ullamcorper, commodo lorem id, semper
                    elit.
                    Donec eget velit rhoncus lectus eleifend tincidunt eu vel ipsum. Nunc dictum justo ultrices,
                    laoreet
                    orci ac, suscipit quam. Proin nec odio ut nisi malesuada interdum vitae ut dui. Suspendisse
                    egestas
                    dolor sed dignissim cursus. Nullam dapibus tellus vitae metus placerat aliquet. Pellentesque
                    vitae
                    tempus mi, id lacinia purus.</div>
            </div>
            <div class="col-8 col-s-8">
                <div class="tabel">
                    <table>
                        <thead>
                            <th>EU</th>
                            <th>Size</th>
                            <th>Bust</th>
                            <th>Waist</th>
                            <th>Hips</th>


                        </thead>
                        <tbody>
                            <tr>
                                <th>32</th>
                                <td rowspan="2">XS</td>
                                <td>88</td>
                                <td>78</td>
                                <td>92</td>

                            </tr>
                            <tr>
                                <th>34</th>
                                <td>88</td>
                                <td>78</td>
                                <td>92</td>
                            </tr>
                            <tr>
                                <td>36</td>
                                <td rowspan="2">S</td>
                                <td>90</td>
                                <td>80</td>
                                <td>94</td>

                            </tr>
                            <tr>
                                <th>38</th>
                                <td>88</td>
                                <td>78</td>
                                <td>92</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td rowspan="2">M</td>
                                <td>92</td>
                                <td>82</td>
                                <td>96</td>

                            </tr>
                            <tr>
                                <th>42</th>
                                <td>88</td>
                                <td>78</td>
                                <td>92</td>
                            </tr>
                            <tr>
                                <td>44</td>
                                <td rowspan="2">L</td>
                                <td>94</td>
                                <td>84</td>
                                <td>98</td>

                            </tr>
                            <tr>
                                <th>46</th>
                                <td>88</td>
                                <td>78</td>
                                <td>92</td>
                            </tr>
                            <tr>
                                <td>48</td>
                                <td rowspan="2">XL</td>
                                <td>96</td>
                                <td>86</td>
                                <td>100</td>

                            </tr>
                            <tr>
                                <th>50</th>
                                <td>88</td>
                                <td>78</td>
                                <td>92</td>
                            </tr>
                            <tr>
                                <td>52</td>
                                <td rowspan="2">XXL</td>
                                <td>98</td>
                                <td>88</td>
                                <td>102</td>
                            </tr>
                            <tr>
                                <th>54</th>
                                <td>88</td>
                                <td>78</td>
                                <td>92</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <td colspan="6">Acesta este un tabel de marimi</td>
                        </tfoot>
                        <caption>Tabel de marimi</caption>
                    </table>
                </div>
                <div class="statistici">
                    Ip: <%- locals.ip %>
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit
                    lobortis
                    scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper augue ac
                    tellus
                    varius, nec hendrerit arcu suscipit. Quisque sed sollicitudin ex. Quisque viverra pharetra lorem
                    eget
                    maximus. Nullam rhoncus malesuada purus eu semper. Curabitur feugiat mauris non aliquam posuere.
                    Aenean
                    in tempor tortor, ut tristique velit. Duis ornare nibh sit amet tempor tempus. Etiam a
                    pellentesque
                    elit, non condimentum sapien.</div>
            </div>

            <div class="col-2 col-s-2">
                <div class="anunturi">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit
                    lobortis
                    scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper augue ac
                    tellus
                    varius, nec hendrerit arcu suscipit. Quisque sed sollicitudin ex. Quisque viverra pharetra lorem
                    eget
                    maximus. Nullam rhoncus malesuada purus eu semper. Curabitur feugiat mauris non aliquam posuere.
                    Aenean
                    in tempor tortor, ut tristique velit. Duis ornare nibh sit amet tempor tempus. Etiam a
                    pellentesque
                    elit, non condimentum sapien.
                    Donec blandit odio cursus dui interdum, bibendum feugiat erat interdum. Etiam dictum aliquet
                    justo,
                    vitae commodo lectus. Nunc eget metus molestie, convallis velit vitae, viverra ante. Maecenas
                    semper
                    lacinia sapien, eu egestas justo sodales nec. Sed arcu diam, egestas vitae sollicitudin ut,
                    accumsan
                    et risus. Cras tempor consequat tortor, imperdiet rutrum lorem consectetur eu. Nullam vitae
                    ligula
                    id magna luctus dapibus eu id odio. Duis sit amet leo ullamcorper, commodo lorem id, semper
                    elit.
                    Donec eget velit rhoncus lectus eleifend tincidunt eu vel ipsum. Nunc dictum justo ultrices,
                    laoreet
                    orci ac, suscipit quam. Proin nec odio ut nisi malesuada interdum vitae ut dui. Suspendisse
                    egestas
                    dolor sed dignissim cursus. Nullam dapibus tellus vitae metus placerat aliquet. Pellentesque
                    vitae
                    tempus mi, id lacinia purus.</div>



                <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lobortis
                    scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper augue ac
                    tellus
                    varius, nec hendrerit arcu suscipit. Quisque sed sollicitudin ex. Quisque viverra pharetra lorem
                    eget
                    maximus. Nullam rhoncus malesuada purus eu semper. Curabitur feugiat mauris non aliquam posuere.
                    Aenean
                    in tempor tortor, ut tristique velit. Duis ornare nibh sit amet tempor tempus. Etiam a
                    pellentesque
                    elit, non condimentum sapien.</div>
            </div>
        </div>
        <div class="altele">

            <section id="despre ">
                <div class="row">

                    <div class="cola-6">

                        <h2>About us</h2>

                        <p class="textAbout"><b>Arason Unique Clothing</b> is a shop of unique clothing for women
                            looking
                            for a
                            special
                            style
                            that
                            reflects
                            their inner voice and sense of self. Our catalog of garments offers you the freedom to
                            discover
                            your
                            own
                            look, while feeling like you belong in the company of other women who share your dreams and
                            values.
                            We
                            believe that when women wear pieces bursting with energy, they are able to bring out the
                            best in
                            themselves.</p>

                        <p class="textAbout">We provide our customers with an easy way to find exactly what they're
                            after:
                            browse our
                            collection
                            of
                            dresses, tops, outerwear, bottoms, and accessories, or search by <em>occasion (going
                                out)</em>,
                            <em>color
                                (turquoise)</em>, or <em>fabric (silk)</em>. To help you decide on the perfect ensemble
                            for
                            any
                            situation, we've also
                            got tips on how to pair your pieces together. We encourage all our shoppers to be bold and
                            daring
                            when
                            it comes to choosing their clothing because it's only through this act of self-expression
                            that
                            we
                            can
                            truly tap into our most authentic selves.</p>

                        <a class="sitelink" href="https://www.fashiondays.ro" target="_blank">You can now find us on
                            FashionDays!</a>


                    </div>
                    <div class="cola-4">

                        <figure class="poza center">
                            <img sizes="(min-width:1000px) 350px, (min-width:400px) 200px,  20px"
                                srcset="static/resurse/shopping_big.png 800w, static/resurse/shopping_medium.png 500w, static/resurse/shopping_small.png 50w"
                                alt="woman after shopping" />
                            <figcaption><q>You always have time for shopping!</q></figcaption>
                        </figure>
                    </div>
                </div>
            </section>

            <section id="articole">
                <h2>New collection</h2>
                <p class="textNC">We all have our own idea of what makes us feel beautiful, and that's what makes us
                    unique.
                    Unfortunately,
                    finding clothing that reflects your unique style can be a challenge.</p>
                <p class="textNC"><b>Arason</b> transforms ordinary garments into extraordinary pieces. At
                    <b>Arason</b>, we believe
                    that
                    you have to
                    have fun with fashion and shouldn't be afraid to stand out in a crowd.</p>

                <div class="IframeVideo">
                    <iframe name="ifr" width="560" height="315" name="ifr1" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="meniu-iframe1 flex-container">
                        <a href="https://www.youtube.com/embed/1gTvEIpl8K0" target="ifr">New
                            Styles</a></li>
                        <a href="https://www.youtube.com/embed/fE2pa1gejVA" target="ifr">New
                            You</a></li>
                    </div>
                </div>
                <section >
                    <video class = "video" controls poster="/static/resurse/background.png" style = "width: 100%" preload ="auto">
                    <source src="/static/video/FashionShow.mp4" type="video/mp4">
                    <source src="/static/video/FashionShow.ogv" type="video/ogv">
                        <track default src ="/static/video/tracks/mesaje_ro.vtt" kind="captions" srclang="ro" label ="romana" />
                        <track src ="/static/video/tracks/mesaje_en.vtt" kind="captions" srclang="en" label ="english" />
                    </video>
                     </section>
        </div>
        <p class="textCatalog">Browse our newest catalogue!</p>

        <div class="row">
            <div class="cola-8">

                <section id="bluze">
                    <h3>Tops</h3>
                    <details>
                        <summary>20% off on our Tops Summer Collection!</summary>
                        <p>The offer is available only for online orders placed between 31.12.2021-31.01.2022.</p>
                    </details>
                </section>

                <section id="rochii">
                    <h3>Dresses</h3>
                    <details>
                        <summary>Free Shipping for Cocktail Dresses!</summary>
                        <p>The offer is available only for online orders of 200 RON or more.</p>
                    </details>
                </section>

                <section id="pantaloni">
                    <h3>Trousers</h3>
                    <details>
                        <summary>Get ready for summer 2022 with our new Trousers Collection!</summary>
                        <p>Items are subjected to availability.</p>
                    </details>
                </section>
            </div>
            <div class="cola-4 center">

                <a href="static/resurse/Catalogue.png" target="_blank" download>
                    <img class="catalog" src="static/resurse/Catalogue.png" width="500" alt="Catalogue">
                </a>
            </div>
        </div>

        </section>

        <section id="recomandate">
            <h2>Our Recommendations</h2>
            <!-- <% for(let p of locals.produse){ %>
                <p><%- p.id %> <%- p.name %> <%- p.price %></p>
            <% } %> -->

         <div id="galerie_statica"><%- include('../fragmente/galeriestatica'); %> </div>   
 
        <div id="galerie-animata" class="galerie-a">
            <% for (let imag of locals.imagini_random){  %>
           
        
                <figure>
                    <picture>
                        <!-- il ia pe primul care se potriveste cu query-ul din media-->
                        <source srcset="/<%-imag.mic%>" media="(max-width:700px)"/>
                        <!-- <source srcset="<%- imag.mediu%>" media = "(max-width:1200px)"/> -->
                        <img src="/<%-imag.mare%>" alt="text"/>
                    </picture>
                    <figcaption><%- imag.titlu%> </figcaption>
                </figure>
                

            <% } %>
            
        </div>


            <!-- <p>We all have our own idea of what makes us feel beautiful, and that's what makes us unique. Unfortunately,
                finding clothing that reflects your unique style can be a challenge.</p>
            <p>Arason is a marketplace for unique clothing for women who want a special, individual style. With Arason,
                you can be transfigured from the ordinary to the extraordinary.</p>
            <p>We work with some of the most talented designers from around the world who work hard every day to give
                you an ever-expanding array of items to choose from.</p>
            <p>We provide our customers with an easy way to find exactly what they're after: browse our collection of
                dresses, tops, outerwear, bottoms, and accessories, or search by occasion (going out), color
                (turquoise), or fabric (silk). To help you decide on the perfect ensemble for any situation, we've also
                got tips on how to pair your pieces together. We encourage all our shoppers to be bold and daring when
                it comes to choosing their clothing because it's only through this act of self-expression that we can
                truly tap into our most authentic selves.</p>
            <p>There are some items on our site that are limited edition and available only while supplies last. This is
                because they are one-of-a-kind, custom designs produced just for us by highly sought after designers. We
                only order as many as we need at any given time, so if you see something you love, snap it up fast!</p> -->
        </section>

        <section id="reviews">
            <h2>Client Reviews</h2>
            
            <p>We go above and beyond when it comes to providing quality customer service. Our team is dedicated to
                ensuring a smooth and pleasant shopping experience for everyone who shops with us—whether online or in
                person at one of our retail locations</p>
        </section>
        </div>

    </main>
    <p id="end"></p>
    <div class="footer">
        <%- include('../fragmente/footer'); %>
    </div>

    </div>

</body>